input,
select,
textarea,
button {
  &:focus {
    outline: none;
  }
}

select {
  // background-image: url(../img/icon/icon-select-arrow.svg);
  // background-size: 10px 6px;
  // background-position: right 1.25rem center;
  // background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  &::-ms-expand {
    display: none;
  }
}

input.error,
select.error,
textarea.error {
  border-color: $danger;
}

label.error {
  display: inline-block;
  padding: 0.25rem 0.625rem;
  margin: 0.5rem 0 0;
  font-size: 1rem;
  color: $white;
  background-color: $danger;
  border-radius: 0.25rem;
}

.bg-hi-lite-40_50 {
  background-color: rgba($color: $hi-lite-40, $alpha: 0.5);
}
